[2018-02-17 19:26] natefinch opened #1 "Check out gnorm"
Hi @tiger5226, I noticed you posting on xo's issues page.  XO is good software, but is not very actively maintained right now.  You should check out https://github.com/gnormal/gnorm - I wrote it after I got frustrated with xo's lack of progress and lack of flexibility.  There's docs at https://gnorm.org . It's under active development and we use it at Mattel.

Sorry, I know this is not the most ap

[2018-02-17 20:08] kauffj commented on #1
Entirely appropriate - thank you @natefinch!

I'll leave it to @tiger5226 to close this once he sees it.

[2018-02-20 02:45] tiger5226 commented on #1
Hi Nate, I actually do the same thing. It is the normal way to contact people when they don't have their email public. Personally I am not a fan of spam.

I actually did checkout gnorm. We currently use SQLBoiler, of which I am not too happy with, but it works, with a lot of work. My intention here is to develop a datastore interface, and I would like to support multiple backends. gnorm and sqlboi

[2018-02-20 02:45] #1 closed

[2018-03-11 15:28] tiger5226 opened #2 "Add Travis & codecov support for automated testing"
https://github.com/codecov/example-go

[2018-04-23 23:12] tiger5226 opened #5 "encoding issue with btcd.rpcclient"
The btcd rpcclient has an issue handling certain encoding. This needs to be looked into further as the problem is not obvious. Below is the reproduction so we do not lose track of the problem.

Reproduction:

Added the following code to the top of `daemon.DoYourThing()`

[code]
then in a separate window, run `sudo tcpdump -i lo port 9245 -A`

this lets you see the data sent to and from lbrycrd dae

[2018-04-24 01:06] tiger5226 commented on #5
in the `RawRequestAsync` function in `btcd.rpcclient` package, adding the following line after the marshalling produced the listed output

`println("vendor1",string(marshalledJSON))`

output:`{"jsonrpc":"1.0","method":"getclaimsforname","params":["¶"],"id":3}`

[2018-04-26 01:50] tiger5226 opened #6 "Trigger reindex from API"
We need a way to tell the app to reindex. When installed and running it runs as a service. There is a flag to reindex but that is not setup for a service. Being able to trigger this from the API would be very useful.

Also we need to make sure we have an auth token for this. We cannot allow open access to anything that modifies data.

[2018-04-26 01:52] tiger5226 opened #7 "Allow for scripts to be run from the API"
Occasionally we may want to fix a data issue in the data base then run a residual script. Instead of using flags we should be able to call this via the API to make it easier to do.

[2018-04-26 01:53] tiger5226 opened #8 "Join Table Between Outputs and Claims"
A claim has at least one output, the original one that created the claim. However, it can also have multiple updates. Creating a join table between these will allow for better access to important information from previous updates or the original claim.

[2018-04-26 02:00] tiger5226 opened #9 "Join Table between TransactionAddress and Claim"
Linking Claims with their transactions will be very helpful for things like querying the top earners or trending paid content. This can currently be done but the performance is not great with a join.

[2018-04-29 17:57] tiger5226 commented on #2
Travis CI is running..holding off on testing coverage while the unit tests are build out.

[2018-04-29 17:57] #2 closed

[2018-04-30 02:56] tiger5226 opened #10 "Log errors to slack channel for production."
https://github.com/johntdyer/slackrus#use

@lyoshenka - What is our hook URL?

[2018-05-02 02:25] tiger5226 opened #11 "EffectiveAmount Claim Sync Error"
Database is using `DECIMAL(18,8)` for the `effective_amount`. The error is that it cannot update the claim with the value `2e+10`.
[code]

Details:

[code]

[2018-05-02 02:55] tiger5226 commented on #11
After investigation, the 18 is total digits, 8 of which is after the decimal(so too small). Lbrycrd is sending integers but I am reading from verbose transaction data which is in decimal via satoshi.

[2018-05-02 03:06] tiger5226 opened #12 "process transactions with raw hex"
There are some things that are made human readable via verbose output. Right now only the script hex is processed. For example the vout value is put in satoshi instead of the actual int value. These sort of conversions could present issues in the future and we should be storing the raw data not the human readable data.

[2018-05-02 23:38] tiger5226 opened #13 "Chainquery stopped at block 357741"
[code]

[2018-05-02 23:39] tiger5226 commented on #13
This was the result of adding a column to chainquery schema as not null but the release running did not contain the column so it did not send the default empty string to mysql causing block processing failure. I made the column nullable and will correct this when the new release is installed.

[2018-05-03 03:00] tiger5226 opened #14 "Make ClaimTrie Sync Fast"
Right now we are iterating through all claim names and then all claims. Due to bottleneck on lbrycrd this is not feasible.

We need to instead grab all claims that have been created/updated since the last sync. We also need to grab all supported claims since the last sync. The unique names from those sets is what should query lbrycrd for. This should make the claimtrie sync lightning fast as there

[2018-05-03 17:28] kauffj opened #15 "Update README (and build process?) to be friendlier towards data viz"
It'd be cool if the README included a link to the chainquery SQL data structure in some kind of visualization tool.

(Not a priority)

[2018-05-04 00:56] tiger5226 commented on #13
This has been solved with the latest release of chainquery.

[2018-05-04 00:56] #13 closed

[2018-05-05 18:17] tiger5226 commented on #11
for now the tables have been increased to use 50 on the left side.

[2018-05-05 18:17] #11 closed

[2018-05-05 18:20] tiger5226 opened #16 "Address table should not use a serial id"
The address table should just leverage the address column as its primary key. No sense in having an id column too. This is only useful when there are multiple parts to the primary for the orm.

This also simplifies queries involving transaction addresses.

[2018-05-06 02:05] tiger5226 commented on #14
this has been addressed via 0b8ae9337508b53e91ef3ce2bc293ee45cdd6a96

The sync is now lightning fast by only syncing the created or updated claims ( considerations are made for supports for the claim ).

[2018-05-06 02:05] #14 closed

[2018-05-06 02:18] tiger5226 commented on #8
OutputClaim table has been added and migration created 0b8ae9337508b53e91ef3ce2bc293ee45cdd6a96

Still needs processing logic to make sure these are created.

[2018-05-06 06:27] tiger5226 opened #17 "Allow SQL query through API"

[2018-05-06 06:31] tiger5226 commented on #17
I have built this into the chainquery API
`http://localhost:6300/api/SQL?query=SELECT * FROM claim WHERE certificate IS NULL LIMIT 1`
http://localhost:6300/api/SQL?query=SELECT%20*%20FROM%20claim%20WHERE%20certificate%20IS%20NULL%20LIMIT%2010

This return the following result:

[code]

[2018-05-06 06:31] #17 closed

[2018-05-07 14:13] tiger5226 commented on #8
A join table is not needed and is unnecessary overhead so I removed that. Instead I have added claimid to the output table so that any output can reference a claim. This will allow left join queries to obtain all the outputs for a claimid. This will be needed for solving https://github.com/lbryio/lighthouse/issues/63. To solve that issue we need to be able to take an outpoint and get the correct c

[2018-05-07 14:13] #8 closed

[2018-05-13 03:49] tiger5226 opened #18 "duplicate auto-updates"
If you created a release it creates a tag. The webhook checks that there is a tag for the notification. However, if you then push that branch with the tag, it will create a notification after the passing build which triggers auto-update again for no reason.

We should check that the tag is > than the current version before automatically upgrading.

[2018-05-13 12:10] tiger5226 opened #19 "Authentication mechanism"
We have an auth token mechanism for our internal-apis. We should have something similar for APIs that we want exposed that actually change data rather than just reading.

Ideally, we have a token that is stored in a user admin table that we validate against with the api and which is passed as an argument to any of these calls.

[2018-05-13 15:31] tiger5226 opened #20 "Create cache for transaction_address, input, output"
The cache should be used to cut select queries in half. Before we choose to update vs insert, we currently check if it already exists in the db first, otherwise an error could thrown if you try to update something that needs to be inserted. We do not leverage the upsert currently.

Specifically for outputs, any that are unspent should be cached. It is very likely that it will be spent when process

[2018-05-13 15:36] tiger5226 opened #21 "Batched DB writes at transaction level"
The main bottleneck of the chainquery application is the mysql database. A lot of this has to do with individual inserts of 30 million rows(inputs,outputs,transaction_addresses). By batching db writes we can bring this down from 30 million to 3 * 2.7million transactions. This should lower the number of insert transactions against the database by 20 million or 60%.

[2018-05-14 13:44] tiger5226 commented on #15
This could certainly be done. YeD has an online tool that can be used with a link and a graphml reference. Graphml is an open source visualization format. Below is a groovy example of doing this.

https://gist.github.com/agea/6591881

We can do this by just creating a quick go app to read from a db connection and write a graphml file. This way anytime we change the db schema we can run this app to

[2018-05-14 13:50] tiger5226 opened #22 "Limit duplicate output messages"
<img width="487" alt="screen shot 2018-05-14 at 9 48 36 am" src="https://user-images.githubusercontent.com/3402064/40001340-047be110-575c-11e8-87ae-b4a6f47cfff1.png">

When the daemon iterations run, if the current block level has not changed we should not keep outputting the same exact line. We should track the block and if we have already sent that information in a previous iteration of the daem

[2018-05-15 17:19] roylee17 opened #23 "Concurrent write to map in lbryschema.go"
INFO[2018-05-15T03:55:32-07:00] running iteration at block height 177700 16 go routines
INFO[2018-05-15T03:55:38-07:00] running iteration at block height 177750 23 go routines
INFO[2018-05-15T03:55:45-07:00] running iteration at block height 177800 16 go routines
INFO[2018-05-15T03:55:52-07:00] running iteration at block height 177850 16 go routines
INFO[2018-05-15T03:55:59-07:00] running iteratio

[2018-05-15 17:26] roylee17 commented on #23
Quick (less instrumental) fix at lbryio/lbryschema.go#2

Will need to update *dep* revision for *lbryschema.go*

[2018-05-15 17:38] roylee17 opened #24 "Recovery from 'ClaimTrieSync: unable to sync claim'?"
Is there a recovery instruction from the *ClaimTrieSync: unable to sync claim* error?

![screen shot 2018-05-15 at 10 32 55 am](https://user-images.githubusercontent.com/97372/40073548-fbf4ecf0-582b-11e8-89d0-365a1e558a48.png)

[2018-05-15 21:53] tiger5226 commented on #23
Interesting, never ran into that with all the sync's I have done! How many cores were running it with if you don't mind me asking?

[2018-05-15 21:55] tiger5226 commented on #24
Yes I ran into this today with the sync on dev. It is a problem with a few fields not being large enough. I fixed the database in production and locally but I need to create a migration for it. I can get fixed for you tonight if you need it urgently.

[2018-05-15 22:00] roylee17 commented on #24
No worries. I'm re-syncing now.
Reading the paper in the mean time.
Thanks.

[2018-05-15 22:02] roylee17 commented on #23
Guess I was the lucky one.

I'm running it on my 8-core MacBook Pro.

[2018-05-15 22:06] tiger5226 commented on #24
a quick fix for the problem above is to make the decimal columns DECIMAL(50,8). Ultimately, I will also have a migration to fix that as they should not be decimal they should be integers.

[2018-05-15 22:11] tiger5226 commented on #23
I run it on my macbook pro too, but `MacBookPro14,2` so only two cores. More chances for you to find concurrency issues. Thanks for reporting this and fixing it too! Let me see if I can get you some credits. All contributions are appreciated!

[2018-05-15 23:56] tiger5226 commented on #24
accidentally closed. We need a migration so from scratch startup works seamlessly.

[2018-05-16 00:03] #23 closed

[2018-05-16 04:54] tiger5226 commented on #24
added migration for `effective_amount` and `fee` on table `claim` to resolve this sync claim issue.

f81d9ead05355f290d1fbed0a8a1fb4af68cc954

[2018-05-16 04:54] #24 closed

[2018-05-17 14:36] tiger5226 commented on #21
This is not supported by the SQLBoiler ORM and would require custom queries to be created to do this. Closing the issue because the effort and debt resulting from this is not worth the value.

[2018-05-17 14:36] #21 closed

[2018-05-17 14:39] tiger5226 commented on #20
this has been solved with 20dd41b4e4bccba097bacd9bd390cb38622057de

The increase in performance is negligible. So I will not be adding more.

[2018-05-17 14:39] #20 closed

[2018-05-17 15:25] lyoshenka commented on #5
@roylee17 is talking about adding LBRY support to btcd. I think this will be solved once he does that, but maybe he can shed some light on this as he's digging in the code.

[2018-05-20 15:51] tiger5226 opened #26 "ClaimTrieSync looks at relation which is not set correctly to determine if claim is spent"
- [x] When processing an input and setting the relation to the spent output this needs to be marked valid otherwise the ORM will not save the change. 5cd411acb603806156b1ea5904b406853dea38de

- [x] We need an upgrade script to reset all the claims that are considered spent. bfe0b2736eca20c34922fe4307c66754e5bccabb

[2018-05-20 16:13] tiger5226 opened #27 "Hardfork rework - Block Expiration"
reference: https://github.com/lbryio/lbrycrd/pull/137

Chainquery calculates if a block is expired using the same value that lbrycrd uses. The main problem here is that chainquery will need to be updated when the above pull request is approved and released. This information is fed to lighthouse as well, for search capabilities.

https://github.com/lbryio/chainquery/blob/master/daemon/jobs/claimtri

[2018-05-22 17:27] kauffj opened #28 "Add index to claim.fee_address"
Queries to determine tips do a look up against claim.fee_address, which has no index.

[2018-05-22 17:31] kauffj opened #29 "Claim.fee_address is missing"
Transaction [b5a1bf5345c2c727fb866bd312f6e6d23d607da139f54da8ad55ef2591f95cad](https://explorer.lbry.io/tx/b5a1bf5345c2c727fb866bd312f6e6d23d607da139f54da8ad55ef2591f95cad) contains a tip sent for [lbry://microsoft-releasing-linux-based#09e79ec21b8e331ddd12a6141fbf9037af9b0766](lbry://microsoft-releasing-linux-based#09e79ec21b8e331ddd12a6141fbf9037af9b0766).

However, this transaction is not repor

[2018-05-22 17:34] kauffj commented on #29
(It may be appropriate that `fee_address` is blank here and we need to revise the approach for determining tips. @tiger5226 and I have been discussing over Slack.)

[2018-05-23 01:53] tiger5226 commented on #29
claim[0f399396ec18a783f9bc66d58fe2095b31f36d40](https://chainquery.lbry.io/api/sql?query=SELECT%20*%20FROM%20claim%20WHERE%20claim_id%20=%20%2209e79ec21b8e331ddd12a6141fbf9037af9b0766%22), does not have a a fee address, therefore it cannot be tipped. The app from what I understand uses the fee_address to tip. In the case you provided, this is a support instead of a tip. The claim owner cannot unlo

[2018-05-23 03:08] tiger5226 opened #30 "unix timestamp has all 1 or 2 for values"
field https://github.com/btcsuite/btcd/blob/master/rpcserverhelp.go#L198
being set https://github.com/lbryio/chainquery/blob/master/daemon/processing/transaction.go#L138

All results in DB have 1 or 2. Why?

[2018-05-24 23:30] tiger5226 commented on #29
Talked with @kauffj and he agrees it is not a bug. Also https://lbryio.github.io/lbry/#wallet_send says

to the owner of a claim specified by uri. A tip is a claim support where the recipient
of the support is the claim address for the claim being supported.

Also attempting to tip a claim that has no fee_address will result in daemon error.

[2018-05-26 03:23] tiger5226 opened #31 "ClaimTrieSync might not sync all claims"
The ClaimTrieSync job doesn't save the timestamp until after it is finished. However, if processing takes a minute, there could be a block entered in between the time it retrieves the claims to update and the time it finishes updating everything.

[2018-05-26 05:28] tiger5226 commented on #31
fixed with f912c8b356c0340d27b8866d686d334f794acbbd

[2018-05-26 05:28] #31 closed

[2018-05-26 23:45] tiger5226 commented on #29
This was a misunderstanding. When a claim is supported or tipped the address of the output that created/updated the claim is where the LBC goes.

- [ ] Add `claim_address` field to claim.
- [ ] Add an upgrade script to set the `claim_address` field for all claims.

[2018-05-27 03:43] tiger5226 commented on #26
I was able to add a sync to the claimtriesync job that handles this without a script.

[2018-05-27 03:43] #26 closed

[2018-05-27 03:44] tiger5226 commented on #28
solved with d5f012df11293572d474d9f3fb57be50ccc77099

[2018-05-27 03:44] #28 closed

[2018-05-27 05:17] tiger5226 commented on #29
Closed out @ 8f4959964e6a2a7a50f43cb9b3b8d12a4a4ddbcf

[2018-05-27 05:17] #29 closed

[2018-05-28 02:41] tiger5226 opened #32 "ClaimTrieSync - bid_state is not correct"
Given this [Test Case](https://chainquery.lbry.io/api/sql?query=SELECT%20name,claim_id,bid_state,effective_amount%20FROM%20%20claim%20WHERE%20claim.name%20=%22test%22) only 1 of these claims should have a `bid_state` of "Controlling".

After investigating there are a few problems.

- [x] The query to get updated claims is not considering claims that should be updated via association. If a claim ha

[2018-05-28 14:17] kauffj opened #33 "transaction.created_time is always empty"
[code]

[2018-05-28 14:29] tiger5226 commented on #33
field https://github.com/btcsuite/btcd/blob/master/rpcserverhelp.go#L198
being set https://github.com/lbryio/chainquery/blob/master/daemon/processing/transaction.go#L138

All results in DB have 1 or 2. Why?

Merging issue #30

[2018-05-28 14:29] tiger5226 commented on #30
merged into #33

[2018-05-28 14:29] #30 closed

[2018-05-28 14:41] kauffj opened #34 "transaction.value is always empty"
I'm not 100% certain what this is supposed to be storing, but presumably if it is always zero it's not doing whatever it's supposed to.

[code]

[2018-05-28 16:39] tiger5226 commented on #34
`value` field is a remnant from using the explorer schema as a starting point. We should remove it if we will not use it. Since we are processing transactions, their inputs & outputs, we will need to find a way to ensure all inputs & outputs for a transaction are completed processing before summing all of the `transaction_addresses`'s if we want to use this value.

[2018-06-10 04:23] #22 closed, assigned to nobody

[2018-06-11 20:13] lyoshenka opened #35 "fix sql schema"
here's a dump of resources for bitcoin's schema. ours should be similar to the first image, but with the changes I mentioned on Slack.

https://i.stack.imgur.com/rMBfH.png
https://gist.github.com/ademar/a54838eded33a86b9281
https://webbtc.com/api/schema

[2018-06-11 23:06] tiger5226 commented on #35
Now I looked at that the other day, I have additional columns but what you are looking for is not a replication but to make sure the important parts match up right? I don't think it is far off.  However, if you believe it is I will probably want to clear that up.

Also from our slack conversation, The reorg issue is solved. It is handling them now. I just needed to tweak the foreign keys ( also ne

[2018-06-11 23:32] tiger5226 commented on #35
I think we do have to deal with the claim version issue. I create a claim for a name or an update and get rid of the unique index on claim_id instead of just updating. Then we can always get the latest version.

Also I can make the owned by their respective output so if the output is removed the claim version is removed, just like how reorgs are handled.

[2018-06-12 15:38] lyoshenka commented on #35
re: tables - i agree we don't need most of those. block_tx data can be stored on the tx itself. i think the fields on the tables should also be renamed somewhat to match whats there (e.g. we should be consistent about _id and _hash naming). we also need to drop the unused columns and tables in the db

re: claim versions - i think connecting them to outputs or blocks is the right way to go. then th

[2018-06-12 23:12] tiger5226 commented on #6
I don't think I want this anymore. I can't see a reason why we would want to do this outside of an upgrade. thinking...

[2018-06-13 01:20] tiger5226 commented on #33
We were setting nano seconds instead of seconds. This has been corrected going forward. However, we will need an upgrade script to set this value correctly for all transaction.

[2018-06-13 01:43] tiger5226 commented on #35
### Modifications

- [ ] Peer Checkpoint Tables, intended for [HealthCheck](https://github.com/lbryio/internal-apis/issues/254)
- `claim_checkpoint`
- `peer`
- `peer_claim`
- `peer_claim_checkpoint`

- [ ] Block Explorer Tables not in use

- `input_address`
- `output_address`

- [ ] Columns to be removed

- `address.tag` Only used for block explorer.
- `address.tag_url` Only used for block explore

[2018-06-13 02:03] tiger5226 commented on #34
This is slated for removal.

[2018-06-13 20:45] kauffj commented on #35
I generally think it is quite reasonable to be skeptical of ORMs, but given that this project is specifically intended to ultimately support multiple export formats, it's a use case where ORM makes a lot of sense.

[2018-06-14 23:43] tiger5226 opened #36 "Record Reorgs in the database"
When a reorg happens, it is detected by Chainquery and handled such that Chainquery stays at the top of the chain. However, the current state is just that a reorg notification is only logged and not recorded.

We should create a table called `reorgs`. It should have columns: `id`, `depth`, `created_at`, `height`, `block_hash_list`. The `block_hash_list` should be a json string array of the hashes

[2018-06-14 23:46] tiger5226 commented on #33
resolved with 92aa385d551173c8d9b7f8eb53dd2059d2ed6bfc

Once we finalize the schema based on https://github.com/lbryio/chainquery/issues/35, a reindex will be performed.

[2018-06-14 23:46] #33 closed

[2018-06-14 23:47] tiger5226 commented on #34
will removed with https://github.com/lbryio/chainquery/issues/35 solution.

[2018-06-14 23:47] #34 closed

[2018-06-14 23:51] tiger5226 commented on #16
Serial IDs are pretty standard. Also this was created before I figured out the required joins.

[2018-06-14 23:51] #16 closed

[2018-06-15 01:07] tiger5226 commented on #32
fixed with 3d376441f2bb8351bc025a9bea16d1f436dfa5d2

[2018-06-15 01:07] #32 closed

[2018-06-15 13:51] lyoshenka commented on #35
I actually don't think an ORM makes that much sense here, or at least not sqlboiler. We have maybe a dozen queries. All they do is insert data into the db. There are no complicated relationships to manage, no need to manipulate rows as objects, etc. The only thing sqlboiler does that I think is really useful is that it generates table/column names from the schema, so its easy to tell what queries

[2018-06-15 13:53] kauffj commented on #35
Got it. I've seen ORMs be capable of generating the language-specific SQL schema based on a more general data schema and thought it might be play a similar role here.

I'll likely leave this conversation to the two of you moving forward.

[2018-06-15 13:59] lyoshenka commented on #35
re:healthcheck - that's a cool idea but out of scope for chainquery. chainquery turns blockchain data into sql. healthcheck tracks availability of blobs on the dht network (unless I misunderstood what it is?). i can see healthcheck using chainquery, but it should be a separate project.

[2018-06-15 13:59] kauffj commented on #16
I think @lyoshenka and I are both pro surrogate keys.

[2018-06-15 15:58] lyoshenka commented on #16
in general, yes. in this case, no. its kind of dumb for an address to store a transaction_id when it could just be storing the transaction hash.

on the other hand, the hashes take up a lot of space, so maybe ids are more space-efficient

[2018-06-15 21:18] tiger5226 commented on #35
sure thing. No you understood it well, one addition would be that data can be used for network support rewards.  I had it encapsulated like that for that reason, so it could be reused. I guess it was more of a POC than anything. Never really used except locally. I agree it should be a separate project. I actual just adjusted the original post so it was clear that I was intending on removing those

[2018-06-18 00:11] tiger5226 commented on #18
Check that the `WebHook.Tag` == `meta.GetVersion()`

[2018-06-18 00:15] tiger5226 commented on #6
Reindex is a big deal, and should only be done as part of a release. In the event we need to reprocess from a specific height we can easily remove the blocks and it will reprocess. For large swaths of reprocessing this should be done as part of a release.

[2018-06-18 00:15] #6 closed

[2018-07-03 21:31] tiger5226 opened #37 "Add text message notifications to chainquery"
Specifically, @finer9 would like Chainquery to be able to notify him via text message when a reorg in the blockchain is detected at depth > `x`.

Our internal-apis leverage twilio for phone verification. We can use that account and api to send these messages.

On hold until I can verify that this account can be used for our Chainquery instance.

[2018-07-05 02:08] tiger5226 commented on #37
changes made and deployed in v0.4.0

[2018-07-05 02:08] #37 closed

[2018-07-06 18:32] tiger5226 commented on #7
The api should be read-only and scripts can be run with the upgrade manager if needed. Once running we don't really need to run scripts.

[2018-07-06 18:32] #7 closed

[2018-07-06 18:33] tiger5226 commented on #19
don't need authentication. APIs are available as read-only.

[2018-07-06 18:33] #19 closed

[2018-07-06 18:35] tiger5226 commented on #36
When we do this we should remove the twilio integration. Per @kauffj "Chainquery should just be a utility to extract blockchain data into SQL or other more usable formats." This sort of notification should leverage Chainquery not be part of Chainquery. We have twilio integration for internal-apis and should implement the notification there.

[2018-07-06 19:27] tiger5226 opened #38 "Claim Height is not being set"
https://chainquery.lbry.io/api/sql?query=SELECT%20name,height%20FROM%20claim%20LIMIT%20100

The height of a claim is not being set. This impacts whether or not a claim is expired. See below query getting 100 expired claims.

https://chainquery.lbry.io/api/sql?query=SELECT%20name%20FROM%20claim%20WHERE%20bid_state=%22Expired%22%20LIMIT%20100

The height is not being passed down from the block. So a

[2018-07-07 01:49] tiger5226 commented on #38
solve with v0.4.1

[2018-07-07 01:49] #38 closed

[2018-07-07 04:41] tiger5226 commented on #35
Initial version https://github.com/lbryio/chainquery/pull/39

I have made all the changes referenced above to the schema. It needs a review, but I did test it with a fresh schema. I did not test it against the leading blockchain database. I would like a review first because it takes a few hours to restore the database and I would like to try to minimize the number of restores I have to perform in

[2018-07-07 05:17] tiger5226 commented on #5
@roylee17 Any update here or idea of what this could be?

[2018-07-09 02:31] tiger5226 commented on #27
solved with 49afb006f243ec6229d03c4357457bf845ce3de1

[2018-07-09 02:31] #27 closed

[2018-07-09 05:12] tiger5226 commented on #18
solved with 8ce5467f4264bc3171ac04a06dcdd5a6d817ebe9

[2018-07-09 05:12] #18 closed

[2018-07-11 18:09] tiger5226 opened #40 "claimid showing spent when it should be active"
claim id 3e55634fac4dcaa176fcbac5d33c931f2ca14c19 is showing as [spent](https://chainquery.lbry.io/api/sql?query=SELECT%20*%20FROM%20claim%20WHERE%20name%20=%22awakeningshortfilm%22).

[2018-07-12 18:15] tiger5226 opened #41 "ClaimTrie sync should consider the delay for controlling status"

[2018-07-12 18:17] tiger5226 opened #42 "How did example claim get set to expired during claimtrie sync"
example https://chainquery.lbry.io/api/sql?query=SELECT%20*%20FROM%20claim%20WHERE%20claim_id%20=%229377895520f71f82702b2dc56cc45d2f046ada8a%22

There was an issue where the lbrycrd node was not updated until well after the hardfork. This may be the cause, but we should investigate to make sure there is not a bug somewhere.

[2018-07-13 06:49] tiger5226 commented on #36
@kauffj I thought of a concern with this. Since reorgs happen and go away. There could be a data consistency issue between instances of Chainquery depending on when they were started up and if there was any downtime. 2 instances of Chainquery could have data inconsistencies depending on the variables mentioned. This makes the data unreliable. Is this a concern for you too or should this be ignored

[2018-07-13 12:48] kauffj commented on #36
That's a very smart point that now makes me a bit ambivalent about this. It does seem like all chainquery installs should create identical states. Though if we think of re-orgs as equivalent to a logging event maybe it's fine. Any comments @lyoshenka ?

[2018-07-16 17:16] tiger5226 opened #43 "reorg block with claim update will remove claim"
When we update a claim, we update the outpoint it came from which will point to the latest update of the claim. If that update is part of a transaction in a block that is orphaned from a reorg, it will also delete the the claim since it is tied to the outpoint of the last update.

Ideally, claim versioning could prevent this problem as then only the claim version would be impacted by the reorg, wh

[2018-07-18 00:54] tiger5226 commented on #41
resolved with a7d3a83ca4d07eedcd38a9bea2c3164721583077

[2018-07-18 03:08] tiger5226 commented on #40
deployed with v0.5.2

[2018-07-18 03:08] tiger5226 commented on #40
deployed with v0.5.2

[2018-07-18 03:08] #40 closed

[2018-07-18 03:09] tiger5226 commented on #41
deployed with v0.5.2

[2018-07-18 03:09] #41 closed

[2018-07-18 03:09] tiger5226 commented on #42
deployed with v0.5.2

[2018-07-18 03:09] #42 closed

[2018-07-19 22:35] tiger5226 commented on #43
@lyoshenka This is basically the claim version question as well. How do we want to handle claim versions. One proposal was to have versions and then the claim table. The claim table is alway up to date and you can check versions in the version table.

However, in this case, a reorg would remove the claim because it is tied to the transaction it was last updated with. This is certainly useful for s

[2018-07-22 13:37] tiger5226 opened #44 "claims are updating too often"
These are logs from a local instance of lighthouse

[code]
As you can see, running ever 10 minutes there are 10s of thousands being updated in Chainquery. This is not real. We need to make sure if there are no changes we are not writing to the database. The only way this is close to true is if some of the most popular claim names have claims being updated, which wouldn't even be the `112,294` ment

[2018-07-22 16:13] tiger5226 commented on #44
I looked into this. The problem was that we were setting claims to active, saving, then setting them to controlling when we did that step. To resolve, I moved the setting of bid state to when we determine controlling status to avoid change claims to active only to change it back to controlling.

I also fixed a few bugs I found:

[2018-07-22 16:14] tiger5226 commented on #44
solved with 66b40f04ce0f6b20887566b2f49c3bfd2453fc17

[2018-07-22 17:10] tiger5226 commented on #44
deployed with 0.5.4

[2018-07-22 17:10] #44 closed

[2018-07-22 21:04] tiger5226 opened #45 "specific claim is showing wrong NSFW property"
https://chainquery.lbry.io/api/sql?query=SELECT%20*%20FROM%20claim%20WHERE%20claim_id=%22cb132b147ab1e756dab4ccc9e3514716497edf2b%22

This claim shows isNSFW as false. However, looking in the lbry app it shows as NSFW. Why? There must be a bug in the sync process somewhere. This is important to look into because there is up and coming integration work that will rely on this property.

### Acceptan

[2018-07-23 13:59] kauffj commented on #45
[code]

[2018-07-23 19:32] lyoshenka commented on #43
Its fine to remove claims from chainquery if the transaction containing the claim is removed from the blockchain.

I'm happy to talk architecture details. Can you write down how chainquery deals with reorgs now, maybe with diagrams? I have some thoughts on how it should work but it would help to understand what happens now.

[2018-08-12 18:08] tiger5226 commented on #35
merged and deployed

[2018-08-12 18:08] #35 closed

[2018-08-17 12:44] filipnyquist opened #46 "Update the sql dump to latest version"
When looking at the sql dump, the fields created and modified are still there, while their names in production contains _at at the end of the fields. We should probably try to keep this dump up to date!

[2018-08-23 02:43] tiger5226 commented on #46
completed with https://github.com/lbryio/chainquery/commit/75c046d3e9798e78dbcbf715a41ebc53048bdb15

[2018-08-23 02:43] #46 closed

[2018-08-31 01:24] ykris45 opened #47 "Chainquery Windows Version"
currently LBRY chainquery has linux and darwin version. would be nice if chainquery have Windows OS version.. because windows is a most popular operating system in the world and most of people use Windows Machine.

[2018-09-01 19:26] tiger5226 commented on #47
https://github.com/lbryio/chainquery/releases/tag/v1.1.2

I tested this in a windows 10 laptop

[2018-09-01 19:26] #47 closed

[2018-09-14 14:46] alyssaoc commented on #43
moving to groomed for tech design,
created epic, add additional issues for implementation

[2018-09-15 15:33] tiger5226 opened #48 "Technical Design for Claim Updates / Reorgs"
<img width="649" alt="screen shot 2018-09-15 at 11 06 38 am" src="https://user-images.githubusercontent.com/3402064/45587715-8bef5f00-b8d7-11e8-8b5b-f290a27df6dd.png">

I created a diagram showing how the relevant data relates to one another. A Block has 1 to many transactions that it owns. If we delete a block the transactions get deleted. A transaction owns its outputs ( 1  to many ). It also ow

[2018-09-15 15:35] tiger5226 commented on #43
added issue for technical design

[2018-09-21 14:15] lyoshenka commented on #48
I think we should update the db schema to match the structure of our data better. Claims don't actually get updated in the blockchain as they do in a normal db. Instead they get updated the same way a file gets changed in git - by applying a set of diffs.

There are several ways to do this. Here's one proposal:

- drop the `claim<->output` relation
- add a new table called `claim_diff` (or better

[2018-09-21 14:37] kauffj commented on #48
Interesting discussion. A few comments:

- It could make sense to store _both_ diffs and versions.
- Tracking versions doesn't necessitate a table separate from claims. One could simply store all versions directly in the `claim` table (at the cost of some redundant data, like the claim ids, but how much is actually redundant?)
- The `claim_version` table could independently track which version is

[2018-09-22 12:12] tiger5226 commented on #48
I am not so sure this is true. The blockchain stores a byte array. The value that is passed in replaces the current byte array during an update. There are no set of diffs. We would be implementing this in chainquery.

https://github.com/lbryio/claimtrie/blob/master/claim/node.go#L107

I like the idea of the `claim_version` table though. We had talked previously about this. I think it is a good mid

[2018-09-23 14:55] tiger5226 commented on #48
<img width="795" alt="screen shot 2018-09-23 at 10 53 18 am" src="https://user-images.githubusercontent.com/3402064/45929392-ea8f8b00-bf1e-11e8-9b0e-48264d60ec01.png">

@lyoshenka / @alyssaoc  I see you changed this from in progress  to triaged. However, that is the point of this issue, to come up with the design. It is part of an epic and the design part was for the current sprint. Did I miss som

[2018-09-23 14:57] tiger5226 commented on #5
@lyoshenka What are the next steps here. If we just want to ignore these errors, can we close this issue? The last time I investigated this issue, I did not make much progress. I know the old rpc client worked great.

[2018-09-23 21:49] alyssaoc commented on #48
@lyoshenka I am moving back to in progress. Any particular reason for the change?

[2018-09-24 13:30] lyoshenka commented on #5
this is low priority but i don't want to give up on this yet. we need to understand if there's a general problem with jsonrpc, or if we're doing something wrong. i think forgetting about this will come back to bite us later.

[2018-09-24 13:31] lyoshenka commented on #5
the next step is creating the simplest reproduction of this bug that we can. use as little total code/pieces as possible. post code here when its available, or link to a repo

[2018-09-25 19:40] lyoshenka commented on #48
My mistake.

[2018-09-25 19:41] lyoshenka commented on #48
@tiger5226 take a look at the way https://github.com/lbryio/claimtrie handles claim storage and reorgs. maybe there are useful ideas there.

[2018-09-26 15:37] lyoshenka commented on #48
sounds like we have a design that makes sense. @tiger5226 i think the next step is to give it a shot and see if it works.

[2018-09-26 18:35] lyoshenka commented on #36
dupe of #48 ?

[2018-09-27 02:29] tiger5226 commented on #36
No, this issue is for recording the reorg information in the db.

[2018-09-29 05:30] 42degrees opened #49 "Claim is missing channel"
Why is the schema missing any reference to channels?  Seems like there should not only be some reference to channel name on the Claim, there should probably be a channels table to store all the known channels.

[2018-09-29 14:48] tiger5226 commented on #49
Thanks for looking into Chainquery! In this case Chainquery aligns with our [protobuf metadata schema](https://github.com/lbryio/lbry.tech/blob/master/documents/resources/schema.md). Everything in the blockchain is a claim. There are different types of claims. Currently we have 2, content claims and channel claims. To differentiate between claims there is a column `claim_type` which is an integer.

[2018-10-02 23:35] tiger5226 opened #50 "Host db checkpoints ever 10K blocks for chainquery"
As referenced [here](https://discourse.lbry.io/t/lbry-as-a-container/37/3?u=beamer) by Lenny, we should have a quicker way to get chainquery setup and running. Our production instance should create state backups every 10K blocks or so, so that we can then host for people to get it up and running faster.

We need to investigate what options MySQL offers for this and we need to run tests to make sur

[2018-10-03 16:02] chamunks opened #51 "-help flag could be more helpful."
`./chainquery -help`
Returns the following to stdout
[code]

[2018-10-03 17:00] chamunks opened #53 "Feedback improvement involving config."
[code]

[2018-10-03 17:08] Leopere opened #54 "Request: Can there be commandline flags for config options?"
The config is wonderful and I can modify it with sed/grep/awk etc. However, it would be absolutely lovely if you could set config variables when you invoke the main Chainquery binary.

For example the `lbrycrdd` invocation can be set with some bash magic looking a bit like this.
[code]

This is helpful when you're trying to launch with environment variables in place of using a config.  This is the

[2018-10-03 22:09] tiger5226 commented on #53
I am not sure what problem you are describing here.

I am not sure I have see this in the past. Chainquery does not require a config. There are defaults the system will use if there is no config. Also there is not a minimum set of configurations required. You could have a blank config and it should run. Any addition information you could provide will help me find any potential bugs.

[2018-10-04 00:18] tiger5226 commented on #54
It was an intentional design decision to use the config over flags/environment variables. One of the big reasons was to be able to modify them live. The config is a watched file.

Not all of the settings are watchable yet, but will be in the end.

With all that said we could certainly add the flags.

[2018-10-04 00:30] tiger5226 commented on #49
closing for now. Please reopen if you disagree.

[2018-10-04 00:30] #49 closed

[2018-10-04 00:39] tiger5226 opened #55 "Claim showing expired but not in the app"
https://chainquery.lbry.io/api/sql?query=SELECT%20*%20FROM%20claim%20WHERE%20name%20=%22open-source-video-editing-lesson-4%22

Chainquery has it as expired which is why it would not show up in the search results, but it is does link properly in the app. We need to check how it ended up in that if it is wrong. Also check if lbrycrd agrees.

[2018-10-04 00:40] tiger5226 commented on #55
created from https://github.com/lbryio/lighthouse/issues/120

[2018-10-06 21:49] chamunks commented on #50
I'll get something set up here via an S3 bucket. Using https://github.com/lbryio/lbry-docker at the very least.

[2018-10-11 23:50] Leopere opened #57 "Up limits from 1000 to potentially 10,000 after around 300k blocks"
Console output starting at line 1300ish and below can be avoided and is going to happen more often now that Youtube sync is enabled.
https://haste.nixc.us/gijoticuzusu.pl

[2018-10-23 02:56] tiger5226 opened #58 "Allow unlimited accounts against api"
Add a parameter to the sql api so a project could specify a token and not be limited by the query limits of the api. The use case is our own internal applications that would prefer to use the json api for queries. This should be allowed for a restricted set of accounts.

[2018-10-25 22:45] kauffj opened #59 "Optionally include mempool transactions"
A recent problem that came up on development of Osprey project for spee.ch.

A Wordpress server and a spee.ch server both have permission to publish to the same channel.

The Wordpress server wants to publish an asset and then serve that asset via a spee.ch URL.

Since the spee.ch server uses chainquery to get the state of the blockchain, a publish from the Wordpress server will not show up on the

[2018-10-25 22:53] kauffj commented on #59
@tiger5226 do you know how hard this would be?

[2018-10-26 19:30] skhameneh commented on #59
What about some form of "push" support.  Websockets comes to mind, but being MySQL there needs to be additional investigation for something like this.

The problem we are facing with Spee.ch is knowing when an update is in the mempool but not confirmed to favor updates over the existing confirmed content.  @daovist

[2018-10-26 19:32] skhameneh commented on #59
If the mempool queries are in the `claims` table, with a different attribute, this could easily cover our use case.

[2018-10-27 02:04] tiger5226 commented on #59
This seems like rare edgecase. It usually gets confirmed within 2.5 minutes. What do mean by "favor"? and how?

[2018-10-29 13:01] daovist commented on #59
Unconfirmed claims must be handled one way or another. We're looking for the optimal approach.

By favor Shawn means we're querying both databases and if the speech db has been updated more recently than chainquery then returning that claim data.

[2018-10-29 16:06] kauffj commented on #59
It's not just an update scenario, it's also for a dual publishing.

Here's a real scenario we're facing:

- For lbrypress plugin, images/videos will be published to LBRY via wordpress plugin
- The wordpress plugin can directly publish these assets to LBRY via daemon
- Assets are not servable/embeddable from spee.ch instance for 2.5 minutes after publish

[2018-10-29 23:15] tiger5226 commented on #59
@kauffj All clear. We can definitely include mempool transactions.
@skhameneh "What about some form of "push" support." we can certainly do this. Right now you are pulling from chainquery. I can certainly build in support for push notifications to notify recipients with a publish/subscribe feature. I love websockets. Never used them in golang yet.

[2018-10-31 23:00] tzarebczan opened #60 "supports not taken into account for effective amount / bid state"
@skhameneh recently ran into an issue with the wrong CryptoCandor channel resolving on spee.ch using chainquery. It looks like we don't take supports into account - her channel was taken over at some point, I then added supports to it a few months ago. 9152f3b054f692076a6882d1b58a30e8781cc8e6 should be controlling.

data:

id | name | author | bid_state | certificate | claim_address | claim_id | c

[2018-11-01 01:01] tiger5226 commented on #60
I am going to make this a high priority issue. The bid_state is an important field.

[2018-11-01 03:02] tiger5226 commented on #59
I have two high level options

1 - I can keep the mempool transactions separate from the blockchain. This means storing this information in a separate table. I also don't think you need to know too much. I would think you need to only check against a claim name to see if it already exists. I can have a mempool transaction table that links to a claimpool table 1 > Many. Only basic information is re

[2018-11-01 19:07] kauffj commented on #59
@tiger5226 good thoughts and analysis

1. Re: data architecture and query usage, I definitely think it makes sense for them to share a table. I'm somewhat ambivalent on whether to add a new column and think the answer would depend on the suitability of extending an existing variable. E.g. could it make sense to use `height` and/or `valid_at_height` to capture this?

1. Re: subscriptions/pushes I t

[2018-11-02 22:59] tiger5226 commented on #59
agreed in the mutex lock

[2018-11-04 01:44] tiger5226 commented on #59
This has been completed.

The mempool transactions are processed as are normal transactions from confirmed blocks. They can be differentiated by their `block_hash_id` being `MEMPOOL`. An example query below to find the mempool transactions.

[code]

[2018-11-04 01:45] #59 closed

[2018-11-04 06:11] tiger5226 commented on #60
So I took a look at this and Chainquery is using the `valid_at_height` to determine controlling state. The highest one is controlling. Below is the result Chainquery is getting from LBRYcrd:

[code]

Obviously, the other has a much higher `valid_at_height` hence its controlling state. I can switch this to effective amount instead and do a resync for `bid_state`. Are there any implications with doi

[2018-11-05 02:12] tiger5226 commented on #50
A quick update on this one. @Leopere and I got the dockerized Chainquery running on the dev instance of Chainquery. It is populating the database now. This is where we will be able to take snapshots. Still need to add Cron job to snap shot data directory and upload it to S3 from the dev environment. The snapshot currently there is corrupted.

[2018-11-05 02:15] tiger5226 opened #62 "Prevent continuing when there is corrupt data."
If the chainquery app panics, and it auto-restarts as a service, the block processing will continue beyond the problem. This should not happen. The app panics when there is corrupt data that needs to be fixed.

The usual solution is to remove the corrupted blocks. We should find a way to detect and remove the corrupted blocks so a restart is successful.

[2018-11-05 04:19] tiger5226 commented on #60
https://chainquery.lbry.io/api/sql?query=SELECT%20*%20FROM%20claim%20WHERE%20name%20=%22@CryptoCandor%22

[2018-11-05 04:19] #60 closed

[2018-11-08 14:08] tiger5226 commented on #57
This turned out to be a data corruption issue. No need to increase above 1000. We performed a full load of chainquery and did not see an issue.

[2018-11-08 14:08] #57 closed

[2018-11-08 20:13] tiger5226 opened #63 "Add Certificate validation support to chainquery"
Chainquery should have a column on the claim table that shows T/F if the certifcate is valid. Users of chainquery like speech will want to filter chainquery results based on this. lbryschema.go has the go code to validate certificates.

[2018-11-08 21:10] tiger5226 commented on #63
I am going to add 2 columns to the claim table. `is_cert_processed` and `is_cert_valid`. Since validation has no bearing on processing the blockchain which is sequential enough, the validation of claim certificates will be a background job of chainquery. When a claim is processed in chainquery and the claim is tied to a publisher, both flags will be false. The background job will grab all `is_cert

[2018-11-10 07:00] tiger5226 commented on #63
This is now ready. I am waiting for @skhameneh or @daovist to give the go ahead to release. Need to make sure the additional columns will not impact spee.ch in production.

[2018-11-12 02:32] tiger5226 commented on #63
This has been released with version 1.3.0

[2018-11-12 02:32] #63 closed

[2018-11-12 02:47] tiger5226 commented on #62
So I have a branch ready for this. If block processing error'd out, the partially processed block was not rolled back. In order to roll a block back an overhaul of the concurrent transaction processing was needed so that an error could be returned and handled. The stopper pattern was implemented for all go routines at each level ( concurrent transaction, input, output processing ). Advanced debug

[2018-11-29 22:23] jessopb opened #66 "Move BlockChainName to configuration file to support dev on regtest / testnet"
BlockChainName is currently a const. Can it be in config or --flag?

[code]

[2018-12-04 00:08] tiger5226 opened #67 "Normalization Hardfork - Changes required"
When the hardfork happens, Chainquery should also record the normalized name after a certain hight.

See [here](https://github.com/lbryio/lbrycrd/issues/208)

[2018-12-04 00:14] tiger5226 commented on #66
Yes, I will add it as a config.

[2018-12-09 21:04] tiger5226 opened #68 "Test ticket from Code Climate"

[2018-12-09 21:05] tiger5226 opened #69 "Fix "method_complexity" issue in daemon/processing/outpoint.go"
Function `processVin` has a Cognitive Complexity of 42 (exceeds 20 allowed). Consider refactoring.

https://codeclimate.com/github/lbryio/chainquery/daemon/processing/outpoint.go#issue_5c0c3a1769b4e40001000044

[2018-12-09 21:36] #68 closed

[2018-12-10 20:33] kauffj opened #70 "Release binaries directly and/or package as tar"
Per Lenny:

[2018-12-10 21:40] Leopere commented on #70
tar.gz is specifically in the Docker documentation.

[2018-12-12 15:30] BrannonKing commented on #67
`getlcaimsforname` now (after norm release) returns the original name in a field called 'name' and the normalized name in a column called 'normalized_name'. `getclaimsintrie`'s name field is now `normalized_name`. There is a separate 'name' field for each claim returned there that contains the original name.

[2018-12-17 02:45] tiger5226 commented on #62
I did a good amount of code cleanup and more testing. This is now merged. I will deploy it this week so I can monitor the changes.

[2018-12-17 02:45] #62 closed

[2018-12-21 00:26] nikooo777 opened #73 "Mysql reboots recovery"
While testing I accidentally restarted mysql and understandably so chainquery crashed.

The stacktrace is as follow:
[code]

Would it be possible to better handle this case? i.e. by re-attempting a connection every 10 seconds or so.

This would ensure that even in the case of a database restart, chainquery maintains continuity.

[2018-12-21 02:00] tiger5226 commented on #73
This is a good issue. We need to solve it for internal-apis as well. Both use the same api server as well.

[2018-12-21 16:13] tzarebczan opened #74 "Claims showing expired"
Lots of claims are showing as expired that shouldn't be. One example: https://explorer.lbry.io/tx/177f1ebae1aef1371e391845db59a6a50b218b27f94f8d4252342bf88ada46e2

https://chainquery.lbry.io/api/sql?query=SELECT%20*%20FROM%20claim%20where%20claim_id=%228c0ca9068b7e86f4be513db9636a129bdbdacba8%22
[code]

[code]

[2018-12-21 16:14] tzarebczan opened #75 "Claims showing outdated/incorrect information"
I bet there are more of these instances. The claim below is showing a fee of 1 and publisher that's not on the current claim.

https://chainquery.lbry.io/api/sql?query=SELECT%20*%20FROM%20claim%20where%20claim_id=%22008401a48cecef2a13cf5376b696169bb36b18c6%22

[code]

[2018-12-21 16:37] tzarebczan commented on #75
[code]

after changing channel to anonymous, cost to 1lbc  (notice it still has channel):
[code]

after changing channel to a new one, removing cost (fee stayed, channel id updated)
[code]

[2018-12-27 03:18] tiger5226 commented on #73
This is a potential problem. If we lose a database connection our dataset could be in a corrupt state. We need something similar to a transaction for chainquery. Since we have multiple routines running and processing, Inputs, Outputs, and Transactions concurrently ( soon to be blocks too ), in a block, any loss of a db connection  puts the application in a bad state. The atomic state currently is

[2018-12-27 06:32] tiger5226 commented on #74
This is now fixed with 9d6819002f0a481eb5cd68fcbd52d53c3482bb3f. Claims that expired with the old logic after the hardfork and were created before the hardfork, where being incorrectly marked as a expired. The change when deployed will update all the required data.

[2018-12-27 06:32] #74 closed

[2018-12-27 07:03] tiger5226 commented on #70
Currently, with goreleaser, it does not support releasing archives in multiple formats. I have [created an issue](https://github.com/goreleaser/goreleaser/issues/902) to see if this is even possible as a feature request.

@nikooo777 - I know you wanted to keep zip releases. I also know lenny already has the workaround in place and working fine for now. So for right now, I say we keep it as is. If

[2018-12-27 07:06] tiger5226 commented on #58
This is now unblocked by 5b6a4c1f5c9f1e385339f083176c956dbde5cadd. We now have authorization api keys. The solution now is to setup a new read only API account that is unlimited for our internal services. Depending on if a key is provided different read only mysql accounts are used.

[2018-12-27 14:54] tiger5226 opened #77 "e2e testing for chainquery"
With the recent upgrade to SQLBoiler V3, I have found some issues. These issues would have been critical and are around the SQLBoiler upgrade. below is what we need to be able to always test:

- [x] We need chainquery to work with lbrycrd testnet
- [x] We need to be able to supply lbrycrd with claims
- [ ] We need to be able to validate the correct of claimtrie actions in chainquery. ie - When I e

[2018-12-27 16:27] tiger5226 opened #78 "Chainquery 2.0"
There are some bigger changes I need to make for Chainquery to improve the flow of the application. I am going to add issues to this epic for the ones we should do in V2.

[2018-12-27 16:48] tiger5226 opened #79 "Concurrent Block Processing"
In order to increase the performance of the processing in chainquery by increasing the number of cores that can be used, a reordering of the flow is needed. Currently we tap out 4 core machines. However, that is the max Chainquery can make use of without parallel block processing. @nikooo777 had an 8 core machine that was only using around 60% of the capacity of the machine. I wanted to put my tho

[2018-12-27 16:49] tiger5226 commented on #12
this is a breaking change, so will be part of 2.0.

[2018-12-27 16:52] tiger5226 commented on #73
This will be required for parallel block processing. I will add it to the 2.0 list.

[2018-12-27 23:30] tiger5226 opened #80 "Spent Supports Support"
When a support is spent the claims for the name associated with it need to sync with the claim trie for the following reasons.

- The claim's effective amount will have changed.
- A bid state change could have been triggered.

[2018-12-28 18:08] Leopere commented on #70
Truthfully it's not the end of the world if we can't do tar.gz it just
makes containers cleaner that's all.  Tar.gz is also natively supported in
the linux kernel.

On Thu, Dec 27, 2018 at 2:03 AM Mark <notifications@github.com> wrote:

[2018-12-28 18:08] Leopere commented on #77
I think that a good chunk of this could be done easily with Docker if not
the whole thing, the Chainquery build container could be next after our
work last night.

On Thu, Dec 27, 2018 at 9:54 AM Mark <notifications@github.com> wrote:

[2019-01-02 20:50] tzarebczan opened #83 "Updated claim showing as "spent" / "expired""
See https://chainquery.lbry.io/api/sql?query=SELECT%20*%20FROM%20claim%20where%20claim_id=%223187461e9df8554bbac34926f3bbfdddcd528a62%22

[2019-01-03 03:43] tiger5226 opened #85 "Transaction Sync"
- [x] The transaction value sync still had the old  query, where credits and debits are diffed result in the value being the fee instead of the value of the transaction.

- [x] The query takes minutes. We should not block, block processing for minutes at a time since chainquery needs to be real time now. This query should be broken up into smaller parts.

[2019-01-04 04:02] tiger5226 commented on #83
I did some research. I don't have an answer yet. I found other claims with a similar problem.

https://chainquery.lbry.io/api/sql?query=SELECT%20*%20FROM%20claim%20INNER%20JOIN%20output%20ON%20output.transaction_hash%20=%20claim.transaction_hash_id%20AND%20output.vout%20=%20claim.vout%20AND%20output.is_spent=0%20WHERE%20claim.bid_state=%22Spent%22%20ORDER%20BY%20claim.modified_at%20DESC

I need to

[2019-01-15 16:48] shyba commented on #55
here is another one: https://chainquery.lbry.io/api/sql?query=SELECT%20*%20from%20claim%20where%20transaction_hash_id%20=%20%22f7a4fca549779d7f7e95a3c128235523f9fc50b7ec76d93ab0e5b35cbcb779f1%22;

it resolves fine as "rick-and-morty-evil-morty-theme-song#64dde445a114a723e7360472ece6e75958a3a173"

there are some more here:
https://chainquery.lbry.io/api/sql?query=select%20*%20from%20claim%20where%2

[2019-01-16 17:08] tzarebczan opened #86 "effective amount/claim status issues with pending takeovers (publishes to existing names)"
I noticed an issue last week regarding claim updates/takeovers and effective amounts, and @shyba did some more digging to find additional cases. There's a bug currently in lbrycrd where the effective amount is set to 0 during a takeover bid. So the initial value will be 0 in the claim table. I've seen instances where this effective amount is shown correctly later (I believe this is when a takeover

[2019-01-16 18:52] tzarebczan commented on #86
Here's a good example where it's accepted/effective amount = 0 that wasn't updated:
https://traction.lbry.io/question#eyJuYW1lIjpudWxsLCJkYXRhc2V0X3F1ZXJ5Ijp7InF1ZXJ5Ijp7InNvdXJjZS10YWJsZSI6Mjk4LCJmaWx0ZXIiOlsiYW5kIixbIj0iLFsiZmllbGQtaWQiLDczOTZdLCJqZXJlbXkta2F1ZmZtYW4iXV19LCJ0eXBlIjoicXVlcnkiLCJkYXRhYmFzZSI6Nn0sImRpc3BsYXkiOiJ0YWJsZSIsInZpc3VhbGl6YXRpb25fc2V0dGluZ3MiOnt9fQ==

[2019-01-17 01:21] tiger5226 commented on #85
merged

[2019-01-17 01:21] #85 closed

[2019-01-29 18:18] jessopb commented on #45
The metadata license field is also useful/required.

[2019-01-29 19:01] tzarebczan commented on #45
Could be related to https://github.com/lbryio/chainquery/issues/75 . Will open a new issue for license. Will double check if we are missing anything else currently (besides new fields we are adding).

[2019-01-29 22:21] tiger5226 commented on #45
Yeah, any missing fields just add here. It is the same issue. This can all be solved in one issue.

[2019-01-29 22:42] kauffj commented on #45
@tiger5226 are you manually creating fields to match metadata?

[2019-02-01 19:29] tzarebczan opened #88 "chainquery / sdk naming discrepancies"
1) we store the sd_hash in a field called sd_hash - it should instead be called source, with the type coming from sourceType.

2) missing claim sequence (there are some changes coming here with normalization I think)

3) missing amount - the original claim amount - not the effective amount (which we have)

4) missing supports - link to the supports table?

5) missing license / license url / previe

[2019-02-03 19:13] tzarebczan opened #89 "claim stuck in accepted status"
name: news-2, claim id: 24ae3f0b57a4411b2976556265157f15a1ed7c8f

https://traction.lbry.io/question#eyJuYW1lIjpudWxsLCJkYXRhc2V0X3F1ZXJ5Ijp7InF1ZXJ5Ijp7InNvdXJjZS10YWJsZSI6Mjk4LCJmaWx0ZXIiOlsiYW5kIixbIj0iLFsiZmllbGQtaWQiLDczOTZdLCJuZXdzLTIiXV19LCJ0eXBlIjoicXVlcnkiLCJkYXRhYmFzZSI6Nn0sImRpc3BsYXkiOiJ0YWJsZSIsInZpc3VhbGl6YXRpb25fc2V0dGluZ3MiOnt9fQ==

[2019-02-03 19:14] tzarebczan commented on #89
Going to update this one manually since it affects the home page (CryptoCandor's video).  The issue is the same as https://github.com/lbryio/chainquery/issues/86

[2019-02-03 19:14] #89 closed

[2019-02-04 18:24] tiger5226 opened #90 "Prevent Big Queries"
https://dev.mysql.com/doc/refman/5.7/en/optimizer-hints.html#optimizer-hints-execution-time

We can add optimizer hints to our exposed query API that prevents big queries from running on the instance.

We should also consider requiring `LIMIT` on all queries performed via the public API. Preferably we use a regex to require `<query> LIMIT X( OFFSET Y)`

Big queries can cause a memory spike on the

[2019-02-05 18:48] tiger5226 opened #91 "Error on initialization"
[code]

It does not impact running chainquery but it is poor form to have an error when someone starts from scratch.

[2019-02-06 17:16] tzarebczan opened #93 "Handle double spent transactions"
@akinwale found a scenario where double spent transactions are not handled properly - we show both. This will affect the explorer integration, but it's an existing explorer issue as well.

The first tx with a low fee: https://explorer.lbry.io/tx/f3e0f653a8f7409940f804d89308b3f5c18c8749e929be1ef1f1bc9e4cec61ab

The double spend tx: https://explorer.lbry.io/tx/5943764d926c7b7faea01d1b575143606a01223

[2019-02-06 17:34] tiger5226 commented on #93
The solution here is to cleanup old mempool transactions. Once the height is above what it was for we should remove those transactions.

[2019-02-06 17:58] tiger5226 commented on #91
solved with 1.5.0 release

[2019-02-06 17:58] #91 closed

[2019-02-06 17:59] tiger5226 commented on #75
solved with 1.5.0 release

[2019-02-06 17:59] #75 closed

[2019-02-06 18:12] tiger5226 commented on #70
They decided to postpone it even longer. Closing issue.

[2019-02-06 18:12] #70 closed

[2019-02-06 18:18] tiger5226 commented on #45
solved with 1.5.0 release

[2019-02-06 18:18] #45 closed

[2019-02-06 21:48] tzarebczan commented on #83
Also sometimes shows expired :
![image](https://user-images.githubusercontent.com/8120721/52375993-09567000-2a2f-11e9-8ba0-f8b24f57ab37.png)

[2019-02-06 22:01] tzarebczan commented on #83
It clears itself up after a while...I'm guessing after the claimtrie sync.

[2019-02-13 02:39] tiger5226 commented on #67
To support queries made against the name of a claim, we need to implement support for NFD normalization to store data in the database in that format so it can be properly compared. The `name` column will remain and new column called `normalized_name` will be added to the `claim` table. This will store the normalized claim name that can be used to query when comparisons are being made.

Any user of

[2019-02-13 16:21] tiger5226 commented on #67
I spoke with @lyoshenka about this and we agreed on the following:

Research Results:

- lbrycrd is using ICU  v57.1 for normalization which supports UCA 8.0
- mysql v5.7 supports UCA 4.0 and 5.2
- mysql v.8.0 supports UCA 4.0, 5.2 and 9.0
- NFD/NFC are formations(presentation) which will be provided by lbrycrd already.

Solution:

- Upgrade Chainquery DB to MySQL 8.0 to leverage UCA 9.0
- There a

[2019-02-13 16:21] #67 closed

[2019-02-13 16:23] tiger5226 opened #94 "Upgrade Chainquery to use MySQL 8.0"
This is required in order to use the [UCA 9.0](http://unicode.org/Public/UCA/9.0.0/) collation `utf8mb_0900_unicode_ci`.

[2019-02-13 16:24] tiger5226 opened #95 "Upgrade Chainquery MySQL Dev/Production DB to MySQL 8.0"

[2019-02-13 16:33] tiger5226 opened #96 "Support normalized name"
- [ ] Added `normalized_name` column to the `claim` table.
- [ ] Adjust the response for `getclaimsforname` to receive the new `normalized_name` field from the RPC response.
- [ ] Adjust Claimtrie sync logic to set this field.
- [ ] We will also need to rethink the claimtrie sync as well. Currently we get claims for what will be the vanity name. So we could be inefficiently syncing the claimtrie f

[2019-02-13 20:29] tzarebczan opened #97 "Address missing from support/tip tx"
https://explorer.lbry.io/tx/50aedf7eca5a4c99885658072553a1c4d10e3824be003fcd2ce2e592379341b8
![image](https://user-images.githubusercontent.com/8120721/52741775-2c8b9d00-2fa4-11e9-8fc4-baec4ac20a94.png)

[2019-02-14 00:49] tzarebczan commented on #97
Spoke to @tiger5226 about this - it happens because the address list is blank on the outputs table for non-standard transactions (publishes/updates/supports/tips/). The solution is to post populate this data into the outputs table for these transactions. This should fix explorer and the claim address checking can even be simplified there. We should even be able to see a "view claim" hyperlink on t

[2019-02-14 20:56] tiger5226 commented on #96
The claimtrie sync needs to be changed because it will not grab the right claims that compete with one another once its all normalized. The query needs to group by `normalized_name` instead of `name`.

[2019-02-16 01:50] BrannonKing commented on #96
to clarify, you don't actually use getclaimsintrie?

[2019-02-16 01:52] BrannonKing commented on #96
and the getclaimsforname has an error in it; the new normalized_name field isn't actually the normalized name until after the hard-fork hits. I can make a change to that. Let me know what you want. I'm thinking to leave it as name until the fork and then call it normalized_name after the fork. That way you can detect the change by what data is there. (The individual claims will have the name field

[2019-02-16 22:53] tiger5226 commented on #96
Correct. I do not use this RPC call. I use `getclaimsforname`.

Is this an error or a feature? Either way, I was planning on doing full sync after the fork any way, so I don't think this is a problem for Chainquery as it will get updated either way after the fork.

No I don't think anything is needed here.

[2019-02-18 15:07] tzarebczan opened #100 "first seen date incorrect"
Looking through the rich list, first seen date is incorrect sometimes.
[code]

[2019-02-18 17:01] tiger5226 commented on #100
We can create a sync method to set these values correctly for older data.

[2019-02-19 13:29] tiger5226 opened #101 "Add cached lbrycrd getnetworkhashps call."

[2019-02-23 16:03] tiger5226 commented on #86
This is now resolved. When it was not ready to take over Chainquery was not reprocessing it later to set the correct effective amount and bid state. I have adjusted the query to also include those claims that have a validatheight that is greater than the height the last claim trie sync happened.

[2019-02-23 16:03] #86 closed

[2019-02-23 16:04] tiger5226 commented on #93
This is now resolved. We clear the tx mempool of transactions that are no longer supposed to be there. So if they are not currently in the pool we remove those transactions. We do this by locking block processing for this state check.

[2019-02-23 16:04] #93 closed

[2019-02-23 19:21] tiger5226 commented on #97
solved with 6551528b59d62627f5ebc429a1661b281bef8bfb

[2019-02-23 19:21] #97 closed

[2019-02-23 19:42] tiger5226 opened #102 "Parsing nonstandard addresses are hardcoded to the mainnet"
This should be made configurable.

The offending code:

https://github.com/lbryio/chainquery/blob/085c293fe355557b9d0337b9f9aee0f22f25580c/lbrycrd/script.go#L36-L40

[2019-02-23 19:43] tiger5226 commented on #102
@nikooo777 This is why we had different addresses in testnet for the claims.

[2019-02-24 06:14] tiger5226 commented on #83
So it was showing expired because when it's in the mempool its height is marked as 0. So based on the logic it is expired in this case. I added a check that if it's 0 it's never considered expired.

It was showing as spent sometimes because if the claimtrie sync would run between the claimname and the update processing, it would get marked  as spent based on the first. If the timing of the update

[2019-02-24 06:14] #83 closed

[2019-02-24 06:15] tiger5226 commented on #55
This was related to this fix 037ca9dd24bf61aaa2d9217616f0acb66d2dddf2

[2019-02-24 06:15] #55 closed

[2019-02-24 18:40] tiger5226 commented on #94
I created a branch with the required changes for chainquery to startup on MySQL8.0.

@nikooo777 I found that `default-authentication-plugin=mysql_native_password` needs to be added to the `my.cnf`.

The branch fails travis testing because there are some naming issues that are fixed in MySQL8.0 for foreign key indexes. In 5.7 they are automatically named while in MySQL8.0 they are not.

@lyoshenka

[2019-02-24 18:40] #94 closed

[2019-02-25 14:26] tiger5226 commented on #48
We ran into this again over the weekend, due to another bug that made this problem stick out like a sore thumb. We fixed the other bug.

[2019-02-26 14:27] nikooo777 commented on #94
@tiger5226 we can get around the travis problem by using a dockerized mysql container. ezpz

[2019-02-27 14:54] #95 closed

[2019-02-27 15:18] tiger5226 commented on #95
This was closed after a discussion with grin on the work involved here for simply using UCA v4 vs UCA v8. The effort is not worth benefit. Instead we will wait to see if there are specific and important cases that arise before investing this effort.

[2019-03-01 04:03] tiger5226 commented on #102
fixed with 007bb78bd7cd50894986a9f98969732d57c6578d

[2019-03-01 04:03] #102 closed

[2019-03-01 04:14] tiger5226 commented on #66
solved with 84f875b3f68266c7a1d6ad95cdf0d3dfd68b5ce5

[2019-03-01 04:14] #66 closed

[2019-03-03 15:50] tiger5226 opened #103 "Migrate Baremetal Chainquery db to production"
This is for a full resync of Chainquery database. It will fix older data issues that we see. Please attach fixed issues that are good going forward but need a resync for old data.

[2019-03-03 15:50] tiger5226 commented on #100
closing in favor of https://github.com/lbryio/chainquery/issues/103

[2019-03-03 15:50] #100 closed

[2019-03-05 04:36] jessopb commented on #103
Test after resync: https://spee.ch/@NRR:97db3b6c7444a8a4c95cca3611ce88c85d3cfcbd
Chainquery has no claims with publisher_id = 97db3b6c7444a8a4c95cca3611ce88c85d3cfcbd

[2019-03-08 03:42] tzarebczan commented on #103
test after resync: https://explorer.lbry.io/tx/de23687d057583d33a44f8e39803bbebd4c313050d50d1e5753e887226b0b818 - check link to spent, right now it goes to https://explorer.lbry.io/tx/#input-

[2019-03-11 21:34] tzarebczan opened #104 "Abandoned claims not updated"
Abandoned claims are not showing up as spent. This should happen as part of the mempool processing also.

https://baremetal.chainquery.lbry.io/api/sql?query=SELECT%20*%20FROM%20claim%20where%20name=%22test-announce-03%22

[2019-03-12 02:26] tiger5226 commented on #104
I looked into this. There are only 51 claims out of 750K with this problem. All of them should be marked spent instead of what they are.

Below is the list:

| name                                 |  claim_id                                 |  height |  bid_state   |  effective_amount |  valid_at_height |
|--------------------------------------|-------------------------------------------|---------

[2019-03-12 02:45] tiger5226 commented on #104
I don't have a reproduction scenario but the small volume of incorrect `bid_state`'s aligns with what I suspect to be the problem...timestamps. These are only recorded in seconds in the database. So an output could be processed within the same second as the start time of the claimtrie sync. We use a `>` and we should use `>=` if we want to catch this case. I pushed a fix for this but we will have

[2019-03-12 18:26] tzarebczan opened #105 "Support new metadata / types"
Support new metadata added in types: https://github.com/lbryio/types/blob/a6f2fd6d5f382f0012383b9076d650c1f6791ada/v2/proto/claim.proto#L29

Also, the NSFW/Mature field is changing to a tag

[2019-03-12 21:44] kauffj commented on #105
@tiger5226 have you concerned a design (or is chainquery already designed?) so that metadata definitions can propagate fully to SQL without any manual work?

If it is already designed this way, there will likely be work to add generic support for one-to-many properties on a claim (tags in the pending types changes).

[2019-03-12 22:07] kauffj opened #106 "Add support for trending receipts per address / claim"
Take the same logic being used to calculate view trending in our internal logic (Z scores, etc.) and apply it to LBC received by addresses / claims.

This allows for the detection of trending channels and claims on a support/tip/payment basis.

I think it is debatable that this is appropriate to add to chainquery since it is not pure blockchain data. Let's discuss whether this is appropriate eithe

[2019-03-13 02:10] tiger5226 commented on #105
That is an interesting idea. It is not designed yet. If new meta data is added, it requires a migration to add the additional columns.

I had never thought of an automatic migration based on a library import. Is this what you meant? Like when we compile we auto generate a sql migration for adding missing columns/relationships dynamically?

[2019-03-13 03:02] tiger5226 commented on #106
I think it is applicable. We do this in other areas too, namely metadata. This is technically just a set of bytes but we transform it into columns for usability. We already have a supports table too so it should not be too difficult if this is what we end up doing.

[2019-03-16 20:52] tzarebczan opened #107 "Height is 0 on ~175K claims"
https://traction.lbry.io/question#eyJuYW1lIjpudWxsLCJkYXRhc2V0X3F1ZXJ5Ijp7ImRhdGFiYXNlIjo2LCJ0eXBlIjoicXVlcnkiLCJxdWVyeSI6eyJzb3VyY2UtdGFibGUiOjI5OCwiZmlsdGVyIjpbImFuZCIsWyI9IixbImZpZWxkLWlkIiw3Mzg3XSwwXV0sImFnZ3JlZ2F0aW9uIjpbWyJjb3VudCJdXX19LCJkaXNwbGF5IjoidGFibGUiLCJ2aXN1YWxpemF0aW9uX3NldHRpbmdzIjp7fX0=

We have tx and timestamp, probably just a data bug somewhere. Block has the correct height

[2019-03-18 13:47] nikooo777 commented on #103
It's done, and the above now works i believe

[2019-03-18 13:47] #103 closed

[2019-03-19 02:48] tiger5226 commented on #107
This is solved with recent patch release.

[2019-03-19 02:48] #107 closed

[2019-03-21 20:06] tzarebczan opened #108 "Claim takeover not updated / wrong claim showing controlling"
![image](https://user-images.githubusercontent.com/8120721/54781661-3fbd0880-4bf3-11e9-8007-479da364da6e.png)

https://traction.lbry.io/question#eyJuYW1lIjpudWxsLCJkYXRhc2V0X3F1ZXJ5Ijp7InF1ZXJ5Ijp7InNvdXJjZS10YWJsZSI6Mjk4LCJmaWx0ZXIiOlsiYW5kIixbIj0iLFsiZmllbGQtaWQiLDczOTZdLCJwaXhlbGJvYXJkLTMweDMwIl1dfSwidHlwZSI6InF1ZXJ5IiwiZGF0YWJhc2UiOjZ9LCJkaXNwbGF5IjoidGFibGUiLCJ2aXN1YWxpemF0aW9uX3NldHRpbmdzIjp

[2019-04-01 17:32] kauffj commented on #106
Some additional clarification what this should be able to support:

- Fetching trending content across a variety of fixed time windows (e.g. 1 hour, 24 hours, 1 week, 1 month, 1 year)
- Restricting the above by tag (matches one tag or matches at least one tag in a set)
- Restricting the above by publish date (show me trending content over the last week but only among things that were published wit

[2019-04-23 15:33] lyoshenka commented on #106
This is happening in https://github.com/lbryio/lbry/pull/2008

[2019-04-25 22:42] tiger5226 commented on #106
@lyoshenka  I just noticed this, just to be clear trending will instead happen in the wallet server?

[2019-04-26 15:47] lyoshenka commented on #106
No this is me being stupid.

[2019-04-26 18:42] #106 closed

[2019-04-26 18:42] lyoshenka commented on #106
yes

[2019-06-03 23:39] tiger5226 commented on #105
solved with 1.8 release

[2019-06-03 23:39] #105 closed

[2019-06-03 23:40] tiger5226 commented on #96
solved with 1.7 release

[2019-06-03 23:40] #96 closed

[2019-06-03 23:41] tiger5226 commented on #77
closing for now. The additional ones are nice to haves and will add more as needed.

[2019-06-03 23:41] #77 closed

[2019-06-03 23:43] tiger5226 commented on #88
@tzarebczan feel free to update this issue if needed.

[2019-06-03 23:48] tiger5226 commented on #48
With the tag updates to youtube claims the urgency of solving this has become extremely pressing as there will now be tons of updates which will make this theoretical situation a common reality.

[2019-06-06 14:36] tzarebczan commented on #108
This also affects the lbry://404 claim.

[2019-06-07 02:41] tiger5226 opened #117 "Spent bid state is being changed since 1.8 release"
If you run this query

[code]
It should return 0 but it wasn't. There were 4K claims that needed to be fixed. I fixed them but I need to see what changed that's causing this regression issue.

Originally reported by EF on discord.
[code]

[2019-06-17 16:47] tzarebczan commented on #117
I think this bug is back now that we re-synced.

[2019-06-30 18:12] tzarebczan commented on #104
Can we please fix this once and for all?

[2019-06-30 18:13] tzarebczan commented on #104
Related: https://github.com/lbryio/chainquery/issues/117

[2019-07-03 17:42] tzarebczan opened #118 "Transferred claims show as spent"
Not sure if this was because of some abandoned claim clean ups we did, but @OpenSourceGames claims were showing as Spent in chainquery. These were transferred to a new claim address at some point and then re-signed.

[2019-07-04 05:23] tiger5226 commented on #118
These were processed before I updated chainquery but after the protobuf was changed again.

[2019-07-04 05:23] #118 closed

[2019-07-28 15:41] tiger5226 opened #119 "Support SegWit transactions on the blockchain"
The summer release will allow for segwit transactions on the blockchain. We're going to need to update Chainquery to support Segwit (including bech32 addresses) for the coming summer hardfork.

[2019-07-28 19:11] tzarebczan opened #120 "Record original claim dates in database"
We don't record the original claim date in the database, so it's not easy to make a chart of claims created by time.

[2019-07-31 00:06] AlessandroSpallina opened #121 "Initializing LBRYcrd Client: -32601: getinfo"
I'm unsuccessfully trying to start chainquery for the first time.
Both from the binary distributed as release and from source I have the following error: https://arin.ga/Quedz7

I suppose the problem is related to btcsuite/btcd/rpcclient dependency (https://arin.ga/1a9ghZ), since version 0.16 in lbrycrd the command "getinfo" (in favor of "-getinfo") has been deprecated and this modification has no

[2019-07-31 00:14] tzarebczan commented on #121
@tiger5226 can you take a look? Probably just need to use one of the new status commands.

[2019-07-31 01:37] tiger5226 commented on #121
what version of lbrycrd are you using?

chainquery only supports up to 0.12.4
working on a release for 17 (edited)
it appears you are using version 17 but I could be wrong.
specifically the go client for lbrycrd has issues with the upstream merge with bitcoin. I have resolved most of them but have a few more kinks to work out before I can release

[2019-07-31 01:43] AlessandroSpallina commented on #121
* LBRYcrd Core Daemon version v0.17.2.1-05381f2
* Chainquery Semantic Version:  v1.8.1
* go version go1.12.7 linux/amd64
* ubuntu 18.04

[2019-07-31 12:42] AlessandroSpallina commented on #121
Thx for the answer @tiger5226, do you have any timing info for the fix?

[2019-07-31 18:16] tzarebczan opened #122 "Claims with blank names (URLs)"
There are over 5K claims with a blank claim names in chainquery and they all actually have names.

This messes up tipping from internal-apis and search results (the app displays none when it encounters this).

[2019-08-03 00:43] tiger5226 commented on #121
I am working through some important ytsync work to get youtubers their channels to manage them themselves. Once that is complete, I will be back to this. I expect to be back to it in a week or so.

[2019-08-03 01:55] AlessandroSpallina commented on #121
Good, in the meanwhile I found a combo that works:
LBRYcrd v0.12.4.1
LBRY Chainquery v1.8.1

[2019-08-04 01:09] AlessandroSpallina commented on #15
I thinks #123 should be ok.
Dove with MySQL Workbench "reverse engineer" functionality

[2019-08-26 18:47] kauffj opened #124 "Add canonical_url to claim table"
The SDK returns this property on claim, can it be provided by chainquery as well?

[2019-08-30 23:59] tiger5226 commented on #124
Absolutely. I was going to add it a few months ago, but it was still being tweaked at the time. Do we have a specific description of it written down somewhere for me to reference? @tzarebczan maybe you have something on it.

[2019-09-08 21:44] danger89 opened #127 "Put subscribe count into ChainQuery"
Hi,

It would be nice if the number of subscribers (eg. `subscribe_count`) are put into the claim table, so I can order by the nr. of subscribers instead of relying on 3rd party API's like https://api.lbry.com/subscription/sub_count...

Meaning, this would be possible in the future:

`SELECT name, claim_id FROM claim WHERE claim_type = 2 ORDER BY subscribe_count ASC LIMIT 10`

Regards,
Melroy van

[2019-09-09 00:18] eggplantbren commented on #127
Subscriber counts are strictly off-chain. So the LBRY Inc API contains the only record of them. I don't think putting subscriptions on-chain would be supported by the team, so it will never be in chainquery. Also, I'm pretty sure the wallet server's `claims.db` file also only uses on-chain information. So looping over API calls is the only way to do this. Closing, but thanks for the thought :)

[2019-09-09 00:19] eggplantbren commented on #127
I doubt subscriptions will ever be on-chain. What use would there be?

[2019-09-09 00:52] danger89 commented on #127
So I could do the query above, that is why.

[2019-09-09 01:13] danger89 opened #128 "Put support_type into Support table"
Hi,

Its very hard to figure out if a row in the support table is actually just 'support' or really a 'tip'. My proposal would be to introduce `support_type` (I don't care which database type it will be, could be an int or enum or ...).

As long as you can easily distinguish if the support is a **tip** or a **support** (or whatever LBRY could have in the future as well).

Regards,
Melroy van den B

[2019-09-09 01:18] tzarebczan commented on #128
There's really no clean way to tell right now except for looking at the claim address, which historically may be different and could potentially change (guess we can still track at time of tx). The blockchain team is working on introducing metadata for supports, so we can then mark them appropriately among other cool things we can start to utilize the metadata for (i.e comments, ratings, subscript

[2019-09-09 22:24] kauffj commented on #127
@danger89 I think we all agree that it would be awesome if this info was somehow on chain.

The problem is there is a negative incentive for a user to spend their currency to write data about their views and subscriptions.

[2019-09-09 22:25] kauffj commented on #127
I'm going to close this. I'm very interested in this being possible but it seems basically impossible for the incentives to exist (as well as a bunch of other problems with accuracy, etc.).

[2019-09-10 01:24] danger89 commented on #127
Too bad you think about it that way.

I personally like more transparency, open-source and decentralized. The data is already in the blockchain, but hard to fetch it. On other services (uhm eg. YouTube) you can already easily see the number of subscribers/views, which is transparent for both the content creator as well as the users.

[2019-09-10 02:11] tiger5226 commented on #127
Anything we have on the blockchain can be put into chainquery. Unfortunately, views are not on the blockchain. The blockchain is used as a catalog for the metadata of claims. The data of the claim is stored on the p2p network called lbrynet. The actual tracking of the views ( if data sharing is enabled ) comes from the app itself. The is open source software but it leverages internal apis.

What i

[2019-09-10 21:56] kauffj commented on #127
I've re-opened this because I think @danger89 misunderstood my point and/or I did not make my point clearly.

We love transparency and being open-source. We're not avoiding putting view data in the blockchain because we don't want to for some reason, we're not putting it there because we don't think it's _possible_ to put it there.

YouTube can track view counts with near perfect fidelity because

[2019-09-10 23:22] eggplantbren commented on #127
I have a question, a comment, and a cliché. That was the cliché.
The question is: if a user turns off analytics sharing in the app for
privacy reasons, do their views and subscriptions no longer count in the
numbers I get from the API?
The comment is: I think all Melroy really wants is a way to query the
views/subs/other data available through the API but using MySQL. Could that
data be put in a M

[2019-09-10 23:56] tiger5226 commented on #127
Yes, it's possible to have it in a database. There is work involved in doing that though and I am not sure this is a high priority thing since it's already available through the API. One could write a script to run through every claim_id and gather this data into a database.

For the question, if a user turns off analytics then that's correct, none of that data is captured.

[2019-09-11 00:03] tiger5226 commented on #128
Yeah, agreed with @tzarebczan here. There is no really accurate way to do this right now.

[2019-09-24 23:27] tzarebczan commented on #117
Finding some more claims that are abandoned, but not marked as such in CQ. This causes some issues on the app side similar to the recent LH issue returning invalid claim names.

The others:
7da23b53cd93f6378e3efc1bfaeb57a7cdbd03bb / 385ecab5c3e1a64f09af43b3aedc4e28776d947e and many more from publisher: 3abdb253b170f5843a5123dbe7ffdb2c88f9479c

[2019-10-02 13:14] kauffj commented on #108
This is marked in progress on zenhub, is that actually the case @tiger5226 ?

[2019-10-04 01:57] tiger5226 commented on #108
At one point it was. I deployed changes to improve this problem but we still found it happening just less often, so I did not close it. I will set it correctly.

[2019-10-23 13:15] kauffj opened #132 "Debug chainquery sync process"
Spinning up a new chainquery instance encounters failures with too high of frequency. Changes to be determined.

[2019-10-23 17:43] tzarebczan commented on #122
There are over 8K now. @tiger5226 can we take a look to see why this is happening?

[2019-10-23 18:48] nikooo777 commented on #122
@tzarebczan can you please provide us an example?

[2019-10-23 18:50] nikooo777 commented on #122
[code]
it looks like they're grouped together, perhaps this happens when CQ restarts?

[2019-11-04 01:41] #127 closed

[2019-11-04 01:41] tiger5226 commented on #121
release 1.9.0 fixes this.

[2019-11-04 01:41] #121 closed

[2019-11-04 01:44] tiger5226 commented on #117
I found the bug for this. We had added a new column to output (`claim_id`) and it was not being set but it was used in the query where we select claims that need to be marked abandoned. Therefore no claims were being marked abandoned. fixed with https://github.com/lbryio/chainquery/pull/134

[2019-11-04 01:44] #117 closed

[2019-11-04 03:24] tiger5226 commented on #119
This was deployed with 1.9.0

[2019-11-04 03:24] #119 closed

[2019-11-04 03:25] tiger5226 commented on #104
solved with https://github.com/lbryio/chainquery/pull/134

[2019-11-04 03:25] #104 closed

[2019-11-04 03:31] tiger5226 commented on #48
Ok this is now solved with https://github.com/lbryio/chainquery/pull/134. I went with a simpler approach. I have added 2 columns for the tracking the update hash, vout called `transaction_hash_update` and `vout_update` respectively. This allows us to keep ownership just for the original transaction that created the claim. It solves the main problem where if a block is rolled back it winds up delet

[2019-11-04 03:31] #48 closed

[2019-11-04 03:52] tiger5226 commented on #122
This was the result of a claim being deleted when a block is rolled back that it was updated in. Because it was incorrectly being deleted when an updated was rolled back, when the update is reprocessed it creates a claim ( because it's missing ) with just the claim_id. This is required to prevent errors when its missing. The incorrect deletion has been resolved with https://github.com/lbryio/chain

[2019-11-04 03:52] #122 closed

[2019-11-04 03:55] tiger5226 commented on #69
This has been resolved with 3d9c52942b544235949f5a0c9cdfc00bfe081a8e

[2019-11-04 03:55] #69 closed

[2019-11-04 04:09] tiger5226 commented on #108
Ok, I am pretty certain I figured out how this was happening. It was the result of some claims not being marked as spent so the takeover wasn't taking over. I am going to leave it open for now because I want to create a test case for it so I can validate.

[2019-11-04 04:10] tiger5226 commented on #132
@nikooo777 if this is not resolved now, let me know specific examples please, otherwise I will close this issue.

[2019-11-04 20:17] nikooo777 commented on #132
Roger I'll attempt to resync the whole chain from scratch again to see if it works fine

[2019-11-05 02:01] tiger5226 commented on #132
Awesome, if you are going to resync, use master too. I put a bunch of fixes there that would be good to test. I am working on the multi-level concurrency too. Depending on when you get to this, maybe we can test drive it as part of the resync.

[2019-11-11 21:49] lyoshenka opened #135 "Add btih to claims table"
https://github.com/lbryio/types/blob/master/v2/proto/claim.proto#L64

[2019-11-19 15:40] tzarebczan opened #136 "auto timeout long running queries"
Long-running queries recently brought down chainquery. We should time them out with a nice error.

[2019-11-20 02:08] tiger5226 commented on #136
I spoke with @nikooo777 about this today. Now that we configured things for replication, we should just have a replicated server for non-lbry environments. Chainquery can run the api server as well so the sql api can be available for the machine.

[2019-11-20 21:20] tiger5226 opened #137 "Certificate sync failing on master"

[2019-11-27 01:59] tiger5226 commented on #132
@nikooo777 I pushed the fix for the certificate sync.

[2019-11-27 03:26] tiger5226 commented on #137
merged. When I changed the column for `transaction_hash_update` the signing of the claim was wrong because the `transaction_hash_id` was from the original name claim transaction not the latest update. So any updates were failing the certificate sync process since it uses the transaction hash of the first input, which for the update is different than the original claim.

[2019-11-27 03:26] #137 closed

[2019-12-01 23:30] tiger5226 commented on #132
Closing this.

[2019-12-01 23:30] #132 closed

[2019-12-13 14:15] tzarebczan opened #138 "store purchase information in transaction data (new table)"
We should store content purchases in chainquery - would this go in the transaction data or a new table?

A purchase tx looks like this: https://explorer.lbry.com/tx/9a6829c34c850d5c6104b215543cb35624ee158cce0f72f8eb3d21e63c0b5e15

[code]

[2019-12-17 02:21] tiger5226 commented on #138
How do I know this is a purchase transaction vs any other transaction where LBC changes hands ?

[2019-12-17 02:26] tzarebczan commented on #138
You'll have an op return and that will decode to the claim id of the purchase, https://explorer.lbry.com/claims/83cf2c7edc54e71961c506b669322a4823fc5dd5 in this case.

[2019-12-17 02:29] tiger5226 commented on #138
- How do I know the amount spent on the claim?
- How do I handle cases with multiple purchases in a transaction?

[2019-12-17 02:30] tzarebczan commented on #138
The first vout will have the claim address and amount. We are not supporting ones with more than 1 per transaction at this time.

[2020-01-09 02:51] tiger5226 opened #139 "Upgrade our lbrycrd instance and codebase"
Currently we are using the following deprecation flags:

[code]

The upstream bitcoin merge for v19 does not support this. So it needs some urgency. @BrannonKing correct me if I am wrong.

[2020-01-22 21:55] kauffj opened #140 "Add support for reposts (and blocked/filtered content)"

[2020-01-27 23:12] tzarebczan commented on #140
Here's a sample of a repost. The repost itself may also have it's own metadata, but there's none present yet. You also don't know if something is a filter vs a block yet, besides keying off the channel name itself (not sure if this will improve).

[code]

[2020-02-03 05:33] tiger5226 commented on #139
The codebase has been upgraded with 8860bd3

[2020-02-13 14:45] #136 closed

[2020-02-24 22:15] tiger5226 commented on #140
We can close this as reposts work fine now in chainquery.

[2020-02-24 22:15] #140 closed

[2020-02-28 22:11] lyoshenka opened #144 "Update URL parsing to reflect spec updates"
Blocked by https://github.com/lbryio/lbry-sdk/issues/2832. Feel free to do this work anytime, but don't merge or deploy it until this is done in the SDK.

We're changing the `#` (the claim ID char) in URLs to be `:`, and the `:` (claim sequence char) to be `*`.

`#` will still work for now, but its deprecated. The SDK should accept it and just convert it to `:` internally. Everything coming out of

[2020-02-29 01:16] tiger5226 commented on #144
We don't currently have this column yet. I definitely want to add it, but I might as well add this format. Since no one is using the column it's probably not blocked.

[2020-03-30 17:14] tzarebczan opened #145 "Claim shows as spent even though it's active"
Not sure how many other claims this affects:
https://chainquery.lbry.com/api/sql?query=select+*+from+claim+where+name=%22sxiv-the-suckless-image-viewer-for-gnu%22

- [ ] make sure it shows up in lighthouse after this is fixed

[2020-04-01 20:51] tiger5226 opened #146 "Create column for coalescing for release date and transaction date"

[2020-04-03 14:58] DasBasti opened #147 "initial block processing running very slow"
I am running chainquery serve on windows 10 with lbrycrdd and mysql-server on the same machine.
Out of the box I only get one processed block per couple of seconds.
[code]

With this speed processing the whole chain will take over a year. How can I speed up the process?

I set the configuration for deamonmode=0 but this did nothing.

The CPU on my system runs at 1%. So whats the bottle neck?

[2020-04-22 12:10] andybeletsky opened #148 "Decouple chainquery data access from the database and chainquery daemon"
I propose implementing a rate-unlimited HTTP GraphQL API for accessing the data.

For example, to retrieve a claim by claim_id, request:

[code]

Response:

[code]

Authorization to lift rate limits can be done via `Authorization` HTTP header.

[2020-04-23 01:17] tiger5226 commented on #148
@tzarebczan said @nikooo777 was going to solve the problem a different way. Can this be closed then if its no longer needed?

[2020-04-23 09:59] andybeletsky commented on #148
If that different way involves talking directly to the mysql, like lbrytv UI code currently does, I'd still prefer to have a proper API. @nikooo777 ?

[2020-04-24 11:56] nikooo777 commented on #148
There are countless of softwares out there that talk to chainquery through
a mysql connector already. Moving away from that or coming up with yet
another API will not solve anything imho.
If we really really want to use the public api then I'd suggest refactoring
it so that it has no limits on the number of queries it can run per hour
and/or just add http.auth.

On Thu, Apr 23, 2020, 11:59 Andrey

[2020-04-24 13:15] andybeletsky commented on #148
Dragging mysql dependencies, credentials and coupling through countless softwares sounds like a terrible idea and a disaster waiting to happen. Least we can do is to avoid that in new software we create.

[2020-04-24 16:01] andybeletsky commented on #148
To elaborate on the kind of trouble that we're inviting, mysql is a very complicated piece of software, containing [almost a thousand of known remote vulnerabilities](https://www.cvedetails.com/vulnerability-list.php?vendor_id=185&product_id=316&version_id=0&page=1&hasexp=0&opdos=0&opec=0&opov=0&opcsrf=0&opgpriv=0&opsqli=0&opxss=0&opdirt=0&opmemc=0&ophttprs=0&opbyp=0&opfileinc=0&opginf=0&cvssscore

[2020-05-18 11:14] jarvisexploit commented on #145
https://chainquery.lbry.com/api/sql?query=select+*+from+claim+where+name=%22sxiv-the-suckless-image-viewer-for-gnu%22

[2020-06-02 00:10] gubatron opened #150 "[dev.sh] trying to run from source "fcntl: too many open files" error"
I'm on macOS 10.15.4 (Catalina), golang 1.14.3 darwin/amd64

Cloned the repo and tried running `./dev.sh`, it always stops here.
I usually raise the number of file descriptors allowed to see if this goes away, but any clue why this happens? (and how many file descriptors/sockets does chainquery actually need?)

[code]

Note: other than this, I already setup the mysql 'chainquery' database with use

[2020-06-02 12:33] #147 closed

[2020-06-03 17:19] tiger5226 commented on #150
Sorry for the late reply. @kauffj did flag this to me but I misread the flag.
Chainquery db uses 55GB to store the data. If you are running low on space for a lbrycrd node(which needs 15GB approximately), then there will definitely be an issue with the chainquery structured data in the database.

I use macos Catalina as well and am using 1.14.2 of go. I dont recall ever seeing that message. I may

[2020-06-03 21:33] kauffj commented on #150
chainquery lite mode when :grin:

[2020-06-15 18:38] tzarebczan opened #151 "Process support metadata"
We now have support metadata including signing. We should process these and store in CQ. First signed support was in this tx: https://explorer.lbry.com/tx/63a18a35b1b26e534f17e370e856cf7da2dc198489c85b9d01bcbc8256c7e103

signed by 20ad9090184d7812970b0ab75e94565b3aec5807

[2020-08-26 16:52] tzarebczan commented on #108
This is still happening - recently had a claim takeover on @saltycracker and it was not reflected in CQ.

[2020-10-03 16:37] tiger5226 opened #154 "Add count of claims in a channel"

[2020-10-21 21:37] kauffj opened #156 "Prevent chainquery from exploding (Mark and Niko know)"

[2020-10-21 21:37] tiger5226 opened #157 "Chunk ClaimTrie Sync"

[2020-10-27 06:25] tiger5226 commented on #156
- [x] Get Niko passed his stuck block
- [x] Investigate query load

[2020-10-27 06:25] #156 closed

[2020-10-27 06:26] tiger5226 commented on #157
This was completed and deployed over the weekend. Down from 2.75hrs to 4 minutes

[2020-10-27 06:26] #157 closed

[2020-10-28 15:14] tzarebczan commented on #145
Another one: 69460dd5fd81976e16172d1c8e76a0455196bb6a

[2020-10-28 20:16] #154 closed

[2020-10-28 20:25] tiger5226 opened #158 "Cumulative Sum effective amount for channels"
So it can be brought into search

Started

[2020-10-28 20:50] tiger5226 opened #159 "Surpassing Max Failures does not cycle with chains of transactions"
Niko ran into this and we had an issue in production as well with it

[2020-12-16 21:10] tiger5226 opened #160 "Reduce data stored in DB"
Remove rarely used columns

Start with transaction.raw

[2020-12-16 21:50] kauffj commented on #160
Alternatively, explore schema for desired chainquery data.

[2020-12-16 22:08] tiger5226 opened #161 "iOS notifications"
@Beamer Need a few tweaks for iOS device notifications:
data_only should not be true
It should send the notification payload with the body and title fields, and sound with the value default
It should send the same data payload as it currently does for Android
(edited)

From akinwale

[2020-12-23 20:34] tiger5226 opened #162 "Schema based Chainquery Data selection"
This would be to allow certain pieces of data to be leverage in CQ and only that data. The schema will determine what data is synchronized to the db my CQ.

[2020-12-23 20:49] tiger5226 commented on #160
I do want to do that, to make CQ more accessible. Created an issue for that. I would like to look into that.

[2020-12-23 20:49] #160 closed

[2021-01-05 04:36] tzarebczan commented on #145
Here's one that shows controlling but is spent:

1095b7dee28fa98142a6b0be7223cf66a437bc5d

[2021-01-29 18:24] tzarebczan commented on #108
This is still happening. Can we at least have some job setup to fix them automatically if we can't find the root cause?

[2021-01-30 13:43] marcdeb1 opened #163 "Add index on "effective_amount" in claims table"
If we want to fetch statistics on content on Chainquery, such as Top claims, we need to have an index on the *effective_amount* column.
https://chainquery.lbry.io/api/sql?query=SELECT%20*%20from%20claim%20order%20by%20effective_amount%20desc%20LIMIT%2010

Otherwise, the query is too slow. It would open a world of possibilities for statistics based on Chainquery.

[2021-01-30 18:09] btzr-io opened #164 "Slicing license field causes invalid utf8 strings"
Slicing the license string causes invalid utf8 characters at the end of the string.

https://github.com/lbryio/chainquery/blob/f75283f379522ff7fca42a5e70eb10eb3d360a4a/daemon/processing/claim.go#L357

[2021-02-01 18:48] btzr-io commented on #151
Is there any reason why this can't be added yet ?

[2021-02-09 00:47] btzr-io commented on #145
https://chainquery.lbry.com/api/sql?query=%20Select%20bid_state,%20license%20from%20claim%20where%20claim_id%20=%20%229c20eec1c3d2069cfe9ba20b12e2f7fd56de4af1%22

[2021-03-31 06:49] btzr-io commented on #145
Reposts also affected: https://chainquery.lbry.com/api/sql?query=select%20*%20from%20claim%20where%20claim_reference%20=%20%226fe4a218b494d630c225bc2c12462cc52c609494%22

[2021-04-02 01:16] stefansundin opened #167 "Error: json: cannot unmarshal object into Go struct field SoftForks.softforks of type []*btcjson.SoftForkDescription"
Hello.

I am trying to get lbrycrd and chainquery to work. I have started my own repo with a docker-compose setup: https://github.com/stefansundin/lbry-dev-environment

I am using the docker images `lbry/lbrycrd:v0.17.3.2` and `lbry/chainquery:v2.4.0`. I have tried a few different combinations without luck.

I am encountering an error but I can't figure out how to get past it.

[code]

The best I

[2021-04-21 16:32] tzarebczan commented on #145
This is affecting many more claims than we thought and should be looked into ASAP. We've been updating manually.

[2021-05-02 13:44] superkruger opened #168 "lbrycrd connection refused"
I'm attempting to install lbrycrd, chainquery and lighthouse locally.

Got lbrycrd running with rpcuser=lbry and rpcpassword=lbry (as it seems to be the defaults used by chainquery, unlike what the readme says)

However, starting chainquery, I get this error:
Initializing LBRYcrd Client: Post "http://localhost:9245": dial tcp [::1]:9245: connect: connection refused

The rpc url it's using is: rpc:

[2021-05-03 15:22] tzarebczan opened #169 "effective amount not updated after delay"
See c6dc43308260c7e82c1270de7360290073b512d9

[2021-05-03 15:38] tiger5226 commented on #168
What version of lbrycrd are you using? It must be <= 17.4.5

[2021-05-03 15:45] tiger5226 commented on #167
@stefansundin do you think you could share your docker-compose file that produces this? So I can debug it locally to see what the problem might be.

[2021-05-03 15:56] superkruger commented on #168
Thanks Mark, I was using the latest of all components...

[2021-05-03 16:19] stefansundin commented on #167
@tiger5226 Hi. There's a link to the docker-compose file and chainquery config in the issue description.

[2021-05-03 19:44] tzarebczan opened #170 "Don't send new content notification until content is confirmed"
Do this if it's easy, if not, we'll wait til mempool processing.

[2021-05-05 20:26] kauffj opened #171 "Playlist prep / adjustments?"

[2021-05-26 20:41] #171 closed

[2021-12-18 20:59] btzr-io commented on #145
Any updates on this ?

[2022-01-09 17:23] danger89 opened #175 "Chainquery for bitcoin"
Sorry to spam the issue list. But I couldn't find another way to contact you mark beamer.

I'm searching for a chainquery solution on top of bitcoin. Do you think this project can support the utxo model of bitcoin?

If not, could you tell me an open source alternative for Bitcoin that does exactly what chainquery does for lbry? Without web interface. I only want to be able to query the blockchain.

[2022-08-19 16:43] #170 closed

[2022-08-19 16:45] tzarebczan opened #177 "claim id list incorrect"
https://github.com/OdyseeTeam/chainquery/blob/66eae7d04de61ef9441d1c6353f953e9b3053d2f/daemon/processing/claim.go#L553

someone discovered a fun cq bug with playlists...i never looked closely into the claim id list returned, but it's wrong. One claim id is backwards, and the other is sort of backwards,but not even correct.
https://chainquery.lbry.com/api/sql?query=select+*+from+claim+where+publish

[2022-10-28 18:20] tzarebczan opened #178 "add tags to new_claim event"
We'd use the tags for post processing on internal apis

The use case is to identify scheduled and unlisted content - so we can send those as flags also if we don't want to send all tags.

[2022-11-01 16:30] tzarebczan opened #179 "some claims not marked as spent"
i..e 365c85784066efd6a7ed48d82417a3e748c2c79d

[2022-11-25 15:14] #54 closed